@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');


body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #414c4f;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Anton', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 'Anton',  
    monospace;
}

.App {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  width: 100vw;
  box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
* {
  scrollbar-width: none; 
}

.App::-webkit-scrollbar {
  display: none;
}
*::-webkit-scrollbar {
  display: none;
}

.App > div:last-child, .App > div:nth-child(2):not(.question) {
  margin-top: auto;
}

@media (max-height: 580px),(orientation: landscape) {
  .App {
    overflow-y: scroll;
  }
}

